APP_NAME="ProviEmplea API"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8080

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=proviemplea
DB_USERNAME=proviemplea_user
DB_PASSWORD=proviemplea_pass
